:root {
  --cls-soft-blue: hsl(215, 51%, 70%);
  --cls-cyan: hsl(178, 100%, 50%);

  --cls-main-bg: hsl(217, 54%, 11%);
  --cls-card-bg: hsl(216, 50%, 16%);
  --cls-hr: hsl(215, 32%, 27%);
  --cls-white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
hr,
p {
  font-size: inherit;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: var(--cls-main-bg);
  font-family: 'Outfit', sans-serif;
  color: var(--cls-soft-blue);
  display: flex;
  flex-direction: column;
  place-content: center;
  padding-inline: 1rem;
  gap: 2rem;
  font-weight: 400;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--cls-hr);
}

main {
  background-color: var(--cls-card-bg);
  padding: 1.5rem;
  width: min(100%, 21.875rem);
  margin-inline: auto;
  font-size: 1.125rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  box-shadow: 0 0 47px 10px var(--cls-card-bg);
}

h1 {
  font-size: 1.375rem;
  color: var(--cls-white);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

h1:hover {
  color: var(--cls-cyan);
}

.icon {
  width: auto;
  height: auto;
}

.image-container {
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.image-container img {
  border-radius: 0.5rem;
}

.image-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
}

.image-container:hover::before {
  content: '';
  background-image: url('./images/icon-view.svg');
  background-color: hsla(178, 100%, 50%, .5);
  background-repeat: no-repeat;
  background-position: center;
}

.nft-information {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}

.nft-information p {
  display: flex;
  gap: .5rem;
}

.nft-information p:first-of-type {
  color: var(--cls-cyan);
  font-weight: 600;
}

.nft-information p:last-of-type {
  /* color: var(--cls-cyan); */
  font-weight: 300;
}

.nft-creator {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  border-top: 1px solid var(--cls-hr);
  padding-top: 1.065rem;
}

.nft-creator img {
  width: 2.5rem;
  aspect-ratio: 1;
  border: 1.5px var(--cls-white) solid;
  border-radius: 50%;
}

.nft-creator span {
  color: var(--cls-white);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nft-creator span:hover {
  color: var(--cls-cyan);
}

.attribution {
  font-size: 12px;
  text-align: center;
  background-color: var(--cls-card-bg);
  width: fit-content;
  margin-inline: auto;
  padding: .75rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 10px var(--cls-card-bg);
}

.attribution a {
  color: var(--cls-cyan);
}